body{
    position: relative;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 480px;
    
    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media (min-width: 1200px) {
        max-width: 1200px;
    }
}

.visual-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.thumb{
    position: relative;
    overflow: hidden;
}

.list-of-socialmedia{
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.list-of-socialmedia__item{
    list-style: none;
    width: 44px;
    height: 44px;

    &:not(:last-child){
    margin-right: 10px;
    }
}

.list-of-socialmedia__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;

    color: $clients-border-color;
    transition: background-color 250ms $animation-time,
    color 250ms $animation-time;

    &:hover,
    &:focus{
    background-color: $acent-color;
    color: $primary-white-color;
    }
}

.list-of-socialmedia__icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}